/*============================================
Escritorio (XL revisamos en 1366 en adelante)
============================================*/
    *{

        font-family: 'Roboto', sans-serif;

    }

    ul, ol{

        list-style: none; /*Quitar los estilos por defecto*/

    }

    a:visited, a:link, a:focus, a:hover, a:active{

        list-style: none;
        text-decoration: none; /*Ocultar las líneas debajo del texto*/

    }

    html{

        scroll-behavior: smooth;

    }

    /*============================================
    Estilos del body - index
    ============================================*/

    .body-index{

        background: -webkit-gradient(linear, left top, left bottom, from(#1D6378), to(#CFE8F0), color-stop(0.4, #6DA8B9));
        background: -moz-linear-gradient(linear, left top, left bottom, from(#1D6378), to(#CFE8F0), color-stop(0.4, #6DA8B9));

    }

    /*============================================
    HEADER
    ============================================*/
    header{

        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        background: rgba(0,0,0,.5);

    }

    .logotipo{
        width: 80%;
    }

    .style-ul-menu{

        padding: 0;

    }

    .style-ul-menu li{
        display: inline;
    }

    .style-ul-menu li a{

        font-size: 18px;
        font-weight: 400;
        float: left;
        padding: 10px;
        color:white;

    }

    .style-ul-menu li a:hover{

        color: white;
        font-weight: bold;
        font-size: 21px;
        
    }

    /*============================================
    PORTADA
    ============================================*/

    .bloque-portada {

        position: relative;
        margin: auto;
        flex-shrink: 0;
        overflow: hidden;
        width: 100%;

    }

    .img-portada{
        width: 100%;
        height: 400px;
    }

    .img-perfil{

        width:150px;
        border: 4px solid white;

    }

    .bloque-portada .bloque-img-perfil {

        margin-top: -130px;
        position: relative;
        text-align: center;

    }

    /*============================================
    INFORMACIÓN PERSONAL
    ============================================*/

    .bloque-info-personal h3{

        font-size: 30px;
        font-weight: 600;
        padding: 10px;

    }

    .redes-sociales{

        padding: 0;

    }

    .redes-sociales li{

        display: inline;

    }

    .redes-sociales li a i{

        font-size: 30px;
        font-weight: 400;
        padding: 30px;
        color: black;

    }

    .redes-sociales li a i:hover{

        font-size: 40px;
        font-weight: bold;

    }

    .separador{

        border: 1px solid #707070;
        width: 65%;

    }

    /*============================================
    SOBRE MÍ
    ============================================*/

    .style-titulos{

        color: black;
        font-size: 30px;
        font-weight: bold;
        padding: 20px;
        text-align: center;

    }

    .bloque-info-sobre-mi h3{

        font-size: 62px;
        font-weight: bold;
        color: white;

    }

    .bloque-info-sobre-mi .descripcion{

        font-size: 30px;
        color:white;

    }

    .btn-leer-mas{

        background-color: transparent;
        width: 150px;
        height: 60px;
        font-size: 25px;
        font-weight: bold;
        color: white;
        border: 3px solid  white;

    }

    /*============================================
    SECCIÓN PROYECTOS
    ============================================*/

    .bloque-proyectos .titulo-proyecto{
        
        font-size: 30px;
        font-weight: 600;
    }

    .bloque-proyectos h3{

        font-size: 25px;

    }

    .bloque-proyectos i{
        font-size: 20px;
    }

    .bloque-proyectos p{

        font-size: 22px;

    }

    .btn-visitar{

        background-color: transparent;
        width: 150px;
        height: 55px;
        font-size: 25px;
        font-weight: bold;
        color: black;
        border: 3px solid  black;

    }

    /*============================================
    HABILIDADES
    ============================================*/

    .contenedor-habilidad{

        width: 33%;
        display: flex;

    }
    
    .contenedor-img-habilidad{

        width: 30%;

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .contenedor-desc-habilidad{

        width: 70%;
        margin: 17px 0;
        position: relative;

    }

    .style-ico{

        font-size: 50px;
        font-weight: bold;
        font-style: none;

    }

    .contenedor-desc-habilidad .titulo-habilidad{

        font-size: 22px;
        font-weight: bold;

    }

    .contenedor-desc-habilidad .mg-barra{

        width: 100%;
        height: 30px;
        border: 2px solid #707070;
        border-radius: 30px;

    }

    .contenedor-desc-habilidad .bg-barra{

        background: rgba(181, 165, 165, 100);
        border-radius: 30px;
        width: 20%;
        height: 26px;
        text-align: center;
        color: white;
        transition: all 7s;

    }

    .contenedor-desc-habilidad .bg-barra h3{
    
        font-size: 20px;
        font-weight: bold;
        padding: 2px;

    }

    /*============================================
    EXPERIENCIA
    ============================================*/

    .contenedor-experiencia{

        width: 48%;
        border-radius: 10px;
        flex-shrink: 0;
        margin: 10px;
        overflow: hidden;

    }

    .contenedor-experiencia-texto{

        background: white;
        height: 200px;
        margin: 20px 30px;
        margin-top: -20px;
        padding: 20px;
        position: relative;
        text-align: center;

    }

    .contenedor-experiencia-texto h3{

        font-weight: bold;
        font-size: 21px;

    }

    .contenedor-experiencia-texto p{

        font-size: 17px;

    }

    /*============================================
    FOOTER
    ============================================*/

    footer{

        background: #222222;

    }

    .contenedor-footer{

        display: flex;
        color: white;
        height: 50px;
        justify-content: center;
        align-items: center;

    }

    .contenedor-footer li{

        display: inline;

    }

    .contenedor-footer li span{

        font-size: 20px;

    }

    .img-habilidad{

        width: 80%;

    }
    
    /*============================================
    PÁGINA - SOBRE MÍ
    ============================================*/

        /*============================================
        SOBRE MÍ
        ============================================*/

        .sobre-mi{

            margin-top: 70px;

        }

        .separador-row{

            margin-bottom: 40px;

        }

        .parrafo-sobre-mi{

            display: flex;
            align-items: center;
            align-content: center;
            font-size: 17px;

        }

        .separador-row .parrafo-3{

            width: 70%;
            display: flex;
            align-items: center;
            align-content: center;
            
        }

        .contenedor-info-extra{

            padding: 0;

        }

        .contenedor-info-extra .titulo-habilidad{

            font-size: 22px;
    
        }

        .contenedor-info-extra .mg-barra{

            width: 100%;
            height: 30px;
            border: 2px solid #707070;
    
        }
    
        .contenedor-info-extra .bg-barra{
    
            background: rgba(181, 165, 165, 100);
            width: 20%;
            height: 26px;
            text-align: center;
            color: white;
            transition: all 7s;
    
        }
    
        .contenedor-info-extra .bg-barra h3{
        
            font-size: 20px;
            font-weight: bold;
            padding: 2px;
    
        }

/*============================================
TABLET HORIZONTAL (LG revisamos en 1024px)
============================================*/

@media (max-width:1199px) and (min-width:992px){

    .logotipo{
        width: 90%;
    }

    /*============================================
    SOBRE MÍ
    ============================================*/

    .bloque-info-sobre-mi h3{

        font-size: 60px;

    }
    
    .bloque-info-sobre-mi .descripcion{

        font-size: 25px;

    }

    /*============================================
    SECCIÓN PROYECTOS
    ============================================*/

    .bloque-proyectos .titulo-proyecto{
        
        font-size: 26px;

    }

    .bloque-proyectos h3{

        font-size: 20px;

    }

    .bloque-proyectos i{

        font-size: 15px;
        
    }

    .bloque-proyectos p{

        font-size: 18px;

    }

    .btn-visitar{

        width: 135px;
        height: 50px;
        font-size: 22px;

    }

    /*============================================
    HABILIDADES
    ============================================*/

    .contenedor-desc-habilidad .titulo-habilidad{

        font-size: 20px;

    }

    .contenedor-desc-habilidad .mg-barra{

        width: 100%;
        height: 25px;

    }

    .contenedor-desc-habilidad .bg-barra{

        height: 21px;

    }

    .contenedor-desc-habilidad .bg-barra h3{
    
        font-size: 17px;
        padding: 1px;

    }

    /*============================================
    EXPERIENCIA
    ============================================*/

    .contenedor-experiencia{

        width: 47%;

    }

    .contenedor-experiencia-texto h3{

        font-size: 20px;

    }

    .contenedor-experiencia-texto p{

        font-size: 15px;

    }
    
}

/*============================================
TABLET VERTICAL (MD revisamos en 768px)
============================================*/

@media (max-width:991px) and (min-width:768px){

    .logotipo{
        width: 100%;
    }

    .img-portada{
        width: 100%;
        height: 300px;
    }

    /*============================================
    INFORMACIÓN PERSONAL
    ============================================*/

    .separador{

        width: 70%;

    }

    /*============================================
    SOBRE MÍ
    ============================================*/

    .bloque-info-sobre-mi h3{

        font-size: 55px;
        
    }
    
    .bloque-info-sobre-mi .descripcion{

        font-size: 20px;

    }

    .btn-leer-mas{

        width: 145px;
        height: 55px;
        font-size: 22px;

    }

    /*============================================
    SECCIÓN PROYECTOS
    ============================================*/

    .bloque-proyectos .titulo-proyecto{
        
        font-size: 20px;

    }

    .bloque-proyectos h3{

        font-size: 17px;

    }

    .bloque-proyectos i{

        font-size: 13px;
        
    }

    .bloque-proyectos p{

        font-size: 15px;

    }

    .btn-visitar{

        width: 120px;
        height: 45px;
        font-size: 20px;

    }

    /*============================================
    HABILIDADES
    ============================================*/

    .style-ico{

        font-size: 40px;

    }

    .contenedor-desc-habilidad .titulo-habilidad{

        font-size: 18px;

    }

    .contenedor-desc-habilidad .mg-barra{

        width: 100%;
        height: 20px;

    }

    .contenedor-desc-habilidad .bg-barra{

        height: 16px;

    }

    .contenedor-desc-habilidad .bg-barra h3{
    
        font-size: 14px;
        padding: 1px;

    }

    /*============================================
    EXPERIENCIA
    ============================================*/

    .contenedor-experiencia{

        width: 47%;

    }

    .contenedor-experiencia-texto{

        height: 160px;
        margin: 20px 15px;
        margin-top: -16px;
        padding: 10px;

    }

    .contenedor-experiencia-texto h3{

        font-size: 16px;

    }

    .contenedor-experiencia-texto p{

        font-size: 13px;

    }

    /*============================================
    FOOTER
    ============================================*/

    .contenedor-footer{

        height: 40px;

    }

    .contenedor-footer li span{

        font-size: 17px;

    }

    /*============================================
    PÁGINA - SOBRE MÍ
    ============================================*/

        /*============================================
        SOBRE MÍ
        ============================================*/

        .sobre-mi{

            margin-top: 55px;

        }

}

/*============================================
MÓVIL HORIZONTAL (SM revisamos en 576px)
============================================*/

@media (max-width:767px) and (min-width:576px){

    .fa-bars{

        color: white;
        font-size: 28px;
        padding: 4px;
    }

    /*============================================
    MENÚ - MÓVIL
    ============================================*/

    .contenedor-menu-movil{

        display: none;

    }

    .contenedor-menu-movil ul {

        left: 0;
        right: 0;
        width: 100%;
        text-align: center;

    }

    .contenedor-menu-movil ul li{

        background: rgba(105, 164, 182, 83%);
        padding: 8px;

    }

    .contenedor-menu-movil ul li a{

        color: white;
        font-size: 18px;

    }

    .contenedor-menu-movil a:hover{

        color: white;
        font-weight: bold;
        font-size: 21px;

    }

    /*============================================
    PORTADA
    ============================================*/

    .logotipo{
        width: 80%;
    }

    .img-portada{
        width: 100%;
        height: 250px;
    }

    /*============================================
    INFORMACIÓN PERSONAL
    ============================================*/

    .separador{

        width: 75%;

    }

    /*============================================
    SOBRE MÍ
    ============================================*/

    .style-titulos{

        font-size: 27px;
        padding: 20px;

    }

    .bloque-info-sobre-mi h3{

        font-size: 50px;

    }
    
    .bloque-info-sobre-mi .descripcion{
        
        font-size: 22px;

    }

    .btn-leer-mas{

        width: 140px;
        height: 50px;
        font-size: 22px;

    }

    /*============================================
    SECCIÓN PROYECTO - MÓVIL
    ============================================*/

    .proyecto-movil{

        border: 2px solid #707070;

    }

    .img-proyecto-movil{

        width: 80%;

    }

    .texto-proyecto-movi{

        width: 100%;
        bottom: -5px;
        left: 0;

    }

    .texto-proyecto-movi h3{

        font-weight: bold;
        font-size: 23px;
        background: rgba(83, 80, 80, .33);
        padding: 15px 0;
    
    }

    /*============================================
    MODAL MÓVIL - INFORMACIÓN PROYECTOS
    ============================================*/

    .descripcion-proyecto-movil{    

        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        background: #CFE8F0;
        overflow-x: hidden;
        display: none;

    }

    .descripcion-proyecto-movil .bloque-proyecto-movil{

        border: 3px solid black;
        position: absolute;
        top: 60px;

    }

    .btn-close{

        position: absolute;
        top: 20px;
        right: 1px;
        color: black;
        font-weight: bold;
        font-size: 20px;

    }

    .descripcion-proyecto-movil .titulo-proyecto{

        text-align: center;
        font-size: 27px;
        font-weight: bold;

    }

    .descripcion-proyecto-movil h3{

        font-size: 23px;

    }

    .descripcion-proyecto-movil p{

        font-size: 21px;

    }

    .descripcion-proyecto-movil i{

        font-size: 18px;

    }

    /*============================================
    HABILIDADES
    ============================================*/

    .contenedor-habilidad{

        width: 90%;
        display: flex;

    }

    .contenedor-desc-habilidad{

        width: 70%;
        margin: 25px 0;
        position: relative;

    }

    /*============================================
    EXPERIENCIA
    ============================================*/

    .contenedor-experiencia{

        width: 96%;

    }

    .contenedor-experiencia-texto{

        height: 180px;
        margin: 20px 20px;
        margin-top: -20px;
        padding: 10px;

    }

    .contenedor-experiencia-texto h3{

        font-size: 20px;

    }

    .contenedor-experiencia-texto p{

        font-size: 16px;

    }

    /*============================================
    FOOTER
    ============================================*/

    .contenedor-footer{

        height: 35px;

    }

    .contenedor-footer li span{

        font-size: 15px;

    }

    .contenedor-footer li i{

        font-size: 14px;

    }

    /*============================================
    PÁGINA - SOBRE MÍ
    ============================================*/

        /*============================================
        SOBRE MÍ
        ============================================*/

        .sobre-mi{

            margin-top: 40px;

        }

        .row-sobre-mi{

            margin-bottom: 1px;

        }

        .parrafo-sobre-mi{

            margin-top: 10px;

        }

}

/*============================================
MÓVIL VERTICAL (revisamos en 320px)
============================================*/

@media (max-width:575px){

    .fa-bars{

        color: white;
        font-size: 23px;
        padding: 3px;

    }

    /*============================================
    PORTADA
    ============================================*/

    .logotipo{
        width: 60%;
    }

    .img-portada{
        width: 100%;
        height: 200px;
    }

    .img-perfil{

        width:120px;
        margin: 1Opx;

    }

    .bloque-portada .bloque-img-perfil {

        margin-top: -110px;
        position: relative;
        text-align: center;

    }

    /*============================================
    MENÚ - MÓVIL
    ============================================*/

    .contenedor-menu-movil{

        display: none;

    }

    .contenedor-menu-movil ul {

        left: 0;
        right: 0;
        width: 100%;
        text-align: center;

    }

    .contenedor-menu-movil ul li{

        background: rgba(105, 164, 182, 83%);
        padding: 8px;

    }

    .contenedor-menu-movil ul li a{

        color: white;
        font-size: 18px;

    }

    .contenedor-menu-movil a:hover{

        color: white;
        font-weight: bold;
        font-size: 21px;

    }

    /*============================================
    INFORMACIÓN PERSONAL
    ============================================*/

    .bloque-info-personal h3{

        font-size: 17px;
        font-weight: 600;
        padding: 5px;

    }

    .redes-sociales li i{

        font-size: 22px;
        font-weight: 400;
        padding: 20px;

    }

    .separador{

        width: 85%;

    }

    /*============================================
    SOBRE MÍ
    ============================================*/

    .style-titulos{

        font-size: 20px;
        padding: 10px;

    }

    .bloque-info-sobre-mi h3{

        font-size: 35px;

    }
    
    .bloque-info-sobre-mi .descripcion{

        font-size: 15px;

    }

    .btn-leer-mas{

        width: 115px;
        height: 45px;
        font-size: 18px;

    }

    /*============================================
    SECCIÓN PROYECTO - MÓVIL
    ============================================*/

    .proyecto-movil{

        border: 2px solid #707070;

    }

    .img-proyecto-movil{

        width: 90%;

    }

    .texto-proyecto-movi{

        width: 100%;
        bottom: -5px;
        left: 0;

    }

    .texto-proyecto-movi h3{

        font-weight: bold;
        font-size: 15px;
        background: rgba(83, 80, 80, .33);
        padding: 15px 0;
    
    }

    /*============================================
    MODAL MÓVIL - INFORMACIÓN PROYECTOS
    ============================================*/

    .descripcion-proyecto-movil{    

        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        background: #CFE8F0;
        overflow-x: hidden;
        display: none;

    }

    .descripcion-proyecto-movil .bloque-proyecto-movil{

        border: 3px solid black;
        position: absolute;
        top: 60px;

    }

    .btn-close{

        position: absolute;
        top: 20px;
        right: 1px;
        color: black;
        font-weight: bold;
        font-size: 20px;

    }

    .descripcion-proyecto-movil .titulo-proyecto{

        text-align: center;
        font-size: 19px;
        font-weight: bold;

    }

    .descripcion-proyecto-movil h3{

        font-size: 17px;

    }

    .descripcion-proyecto-movil p{

        font-size: 15px;

    }

    .descripcion-proyecto-movil i{

        font-size: 14px;

    }

    .btn-visitar{

        width: 100px;
        height: 43px;
        font-size: 22px;

    }

    /*============================================
    HABILIDADES
    ============================================*/

    .contenedor-habilidad{

        width: 90%;
        display: flex;

    }

    .contenedor-desc-habilidad{

        width: 70%;
        margin: 30px 0;
        position: relative;

    }

    .style-ico{

        font-size: 47px;

    }

    .contenedor-desc-habilidad .titulo-habilidad{

        font-size: 20px;

    }

    .contenedor-desc-habilidad .mg-barra{

        width: 100%;
        height: 25px;

    }

    .contenedor-desc-habilidad .bg-barra{

        height: 21px;

    }

    .contenedor-desc-habilidad .bg-barra h3{
    
        font-size: 17px;
        padding: 1px;

    }

    /*============================================
    EXPERIENCIA
    ============================================*/

    .img-experiencia{
        
        width: 100%;
    }

    .contenedor-experiencia{

        width: 96%;

    }

    .contenedor-experiencia-texto{

        height: 185px;
        margin: 20px 10px;
        margin-top: -16px;
        padding: 10px;

    }

    .contenedor-experiencia-texto h3{

        font-size: 15px;

    }

    .contenedor-experiencia-texto p{

        font-size: 13px;

    }

    /*============================================
    FOOTER
    ============================================*/

    .contenedor-footer{

        height: 34px;

    }

    .contenedor-footer li span{

        font-size: 12px;

    }

    .contenedor-footer li i{

        font-size: 13px;

    }

    /*============================================
    PÁGINA - SOBRE MÍ
    ============================================*/

        /*============================================
        SOBRE MÍ
        ============================================*/

        .sobre-mi{

            margin-top: 36px;

        }

        .row-sobre-mi{

            margin-bottom: 1px;

        }

        .parrafo-sobre-mi{

            margin-top: 12px;

        }

}