/*============================================
Escritorio (XL revisamos en 1366 en adelante)
============================================*/
    *{

        font-family: 'Roboto', sans-serif;

    }

    ul, ol{

        list-style: none; /*Quitar los estilos por defecto*/

    }

    a:visited, a:link, a:focus, a:hover, a:active{

        list-style: none;
        text-decoration: none; /*Ocultar las líneas debajo del texto*/

    }

/*============================================
TABLET HORIZONTAL (LG revisamos en 1024px)
============================================*/

@media (max-width:1199px) and (min-width:992px){



}

/*============================================
TABLET VERTICAL (MD revisamos en 768px)
============================================*/

@media (max-width:991px) and (min-width:768px){



}

/*============================================
MÓVIL HORIZONTAL (SM revisamos en 576px)
============================================*/

@media (max-width:767px) and (min-width:576px){



}

/*============================================
MÓVIL VERTICAL (revisamos en 320px)
============================================*/

@media (max-width:575px){



}